<%- include('../layout/header.ejs') %>
<div>
    <div class="maindetail ">
        <div class="ordercomplete">
            <p>Order Completed</p>
            <a href="/order" class="btn cart-button ">View Order</a>

        </div>
        <br>
        <br>
        <div class="messagecmplt">
            <i class="fa-solid fa-check"></i>
            <p>Your Order Is  Completed</p>
            <h5>Thank You For Your Order</h5>
            <a href="/" class="btn cart-button">Continue Shopping</a>
 
        </div>
 </div>
 </div>      
<%- include('../layout/footer.ejs') %>